{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.eu-gb.bluemix.net",
      "Org": "srlim@us.ibm.com",
      "Space": "UK"
    },
    "Name": "srlimNodeGit",
    "Instrumentation": {
      "host": "srlimnode",
      "domain": "eu-gb.mybluemix.net",
      "command": "node app.js",
      "memory": "64M"
    }
  },
  "Path": "",
  "Type": "Cloud Foundry"
}