{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.eu-gb.bluemix.net",
      "Org": "srlim@us.ibm.com",
      "Space": "UK"
    },
    "Name": "testestest",
    "Instrumentation": {}
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}